<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1 th:text="'Login for ' + ${tenant}"></h1>

<form th:action="@{/auth/login/{tenant}(tenant=${tenant})}" th:object="${user}" method="post">

    <label>Username:</label>
    <input type="text" th:field="*{username}" required/> <br/><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required/> <br/><br/>

    <button type="submit">Login</button>
</form>

<div th:if="${error}" th:text="${error}" style="color:red;"></div>
<div th:if="${message}" th:text="${message}" style="color:green;"></div>
<div th:if="${param.logout}" style="color:green;">
    You have been logged out successfully.
</div>
</body>
</html>

