<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
</head>
<body>
<!--<h1>Employees (Tenant: <span th:text="${tenant}"></span>)</h1>-->

<table border="1">
    <tr><th>ID</th><th>Name</th></tr>
    <tr th:each="emp : ${employees}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
    </tr>
</table>

<!-- Logout link -->
<a th:href="@{/auth/logout/{tenantId}(tenantId=${tenant})}">Logout</a>
<!--<a th:href="@{/auth/logout}">Logout</a>-->
<a th:href="@{/employee/add}">Add Employee</a>


</body>
</html>
