<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<h3>User Registration</h3>
<form action="save" method="post" th:object="${user}">
<pre>

<!--     i can use both name="username" and th:field="*{username}-->

Name :    <input type="text" name="username"/>

Email:    <input type="text" th:field="*{email}"/>

Password: <input type="password" th:field="*{password}"/>
    Role(s): <div th:each="role : ${rolesList}">
                 <input type="checkbox" th:value="${role.roleId}" th:field="*{roleIds}"/>
                 <span th:text="${role.roleName}"></span><br/>
             </div>


<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Register"/>

</pre>
</form>
<div th:text="${msg}"></div>
</form>
</body>
</html>